.table{ 
    height: 400px;
    overflow-y:scroll;
  }
  
::-webkit-scrollbar{
display: none;
}

::-webkit-scrollbar-button{
  
}
  .table tr{
     display: flex;
     justify-content: space-between;
  }
  
  .table td{
    padding: 0.3rem;
  }
  
  .table tr:nth-of-type(odd){
    background-color: #f8f2f2;
  }
  
  @media screen and (max-width:900px) {
  
    .front_view{
      display: flex;
      flex-direction: column;
    }
  
  }

